.main{
  width: 1519px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  background-color: #ffffff;
}

nav{
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F9FA
  ;
}

#whole{
  width: 162.57px;
  height: 24px;
}

img{
  height: 100%;
  width: 100%;
}

.search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 21px;
  width: 360px;
  height: 42px;
  background-color: #CED4DA;
}

.search>input{
  width: 300px;
  height: 19px;
  background-color: #CED4DA;
  border: 1px solid #CED4DA;
}

.register{
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.register>p>span{
  color: blue;
  font-weight: 700;
}

select{
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
}
.heroImg{
  width: 1440px;
  height: 440px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.heroText{
  position:absolute;
  top: 358px;
  left: 270px;
  width: 378px;
  color: white;
}

.heroLine{
  width: 1296px;
  top: 544px;
  left: 72px;
  border: 1px solid  #E0E0E0;
}

.writePost{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px; 
  height: 36px;
  border-radius: 4px;
  background-color: #EDEEF0;
  padding-top: 10px;

}

.joinGrp{
  display: flex;
  justify-content: space-around;
  width: 125px;
  height: 36px;
  border-radius: 4px;
  background: #2F6CE5;
  color: white;
  padding-top: 3px;
}

.joinGrp>.image{
  height: 22px;
  width: 22px;
}

.card{
  width: 692px;
  border-radius: 4px;
  margin-top: 2%;
}

.cardAvtar{
  width: 692px;
  height: 220px;
  border-radius: 4px 4px 0px 0px;
}

.card p{
  margin: 10px 20px;
}

.heading{
  display: flex;
  width: 650px;
  margin: 10px 20px;
}

.heading> span{
  height: 28px;
  width: 28px;
}

.userDetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 650px;
  margin: 10px 20px;
}

.userImgName{
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.avtarImg{
  width: 48px;
  height: 48px;
  border-radius: 24px
}

.viewsShares{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27%;
}

.viewsShares>span{
  margin-left: -20%;
}

.share{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 36px;
  border-radius: 2px;
  background: #EDEEF0;
}

.share>img{
  height: 70%;
  width: 70%;
}
