.main{
  width: 1535px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  background-color: #E9ECEF;
}

nav{
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F9FA
  ;
}

#whole{
  width: 162.57px;
  height: 24px;
}

#whole>img{
  height: 100%;
  width: 100%;
}

.search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 21px;
  width: 360px;
  height: 42px;
  background-color: #CED4DA;
}

.search>input{
  width: 300px;
  height: 19px;
  background-color: #CED4DA;
  border: 1px solid #CED4DA;
}

.register{
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.register>p>span{
  color: blue;
  font-weight: 700;
}

.register>select{
  height: 24px;
  width: 24px;
  border: none;
}
.heroImg{
  width: 1440px;
  height: 440px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.heroText{
  position:absolute;
  top: 358px;
  left: 270px;
  width: 378px;
  color: white;
}